/* ===========================
   Navbar
=========================== */

.navbar {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e5e5e5;
  background: white;
}

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/* ===========================
   Logo
=========================== */

.logo {
  text-decoration: none;
  color: black;

  font-size: 1.6rem;
  font-weight: 700;
}

/* ===========================
   Navigation
=========================== */

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link,
.active-link {
  text-decoration: none;
  color: #555;
  font-weight: 500;

  transition: color 0.2s ease;
}

.nav-link:hover {
  color: black;
}

.active-link {
  color: black;
}